.cache
build.xml
lib/
libs/
libs_sources/
natives/
.DS_Store
._*
.gradle/
build/
out/
output/
run/
*.sublime*
.classpath
.metadata/
.project
.settings/
bin/
eclipse/
.idea/
nbbuild/
nbproject/
*~

/target/
